version: '3.9'

services:
  keiko-ros-hrgsv:
    container_name: keiko-ros-hrgsv
    build:
      context: ./build
      args:
        # TARGET: gpu # cpu or gpu
        # find user id and group ids with:
        # id -u
        # id -g
        UID: 1000
        GID: 1000

    network_mode: host
    tty: true
    # grants the container elevated privileges
    privileged: true
    # make container to stay running indefinitely
    command: tail -f /dev/null
    # user: "docker"

    environment:
      - "DISPLAY=$DISPLAY"
      - TERM=xterm-256color
      - DEBUG_COLORS=true
      - COLORTERM=truecolor
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=all
      # uncomment this line to connect to other ros master
      # - ROS_MASTER_URI=http://<ip_adress or hostname>:<port> 
      # - ROS_MASTER_URI=http://rotterdam:11311 #rotterdam
    volumes: 
      - ./catkin_ws:/home/docker/catkin_ws
      - /tmp/.X11-unix:/tmp/.X11-unix
      - /dev/ttyUSB0:/dev/ttyUSB0
      - /dev/ttyUSB1:/dev/ttyUSB1
      # use this line if you want to run the robot on a remote machine
      - $HOME/.Xauthority:/home/docker/.Xauthority:rw
      # - /etc/timezone:/etc/timezone:ro
